* {
  outline: none;
  overflow: hidden;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #eee;
}
.container{
  padding: 0 4% 0 4%;
  text-align: center;
}
.nav{
  padding: 4%;
  height: 25.5vh;
  overflow: hidden;
}
.search{
  float: left;
}
.filter{
  float: right;
  right: 5px;
  width: 25%;
  padding: 10px;
  margin: 0;
  background-color: #4763df;
  border-radius: 20px;
  margin-top: 6%;
  box-shadow: 0 10px 30px #4763df, 0 0 0 10px #ffffffeb;
}
.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}
.filtertd{
  left: 50%;
}
input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
#cover {
  top: 0;
  left: 0;
  width: 50%;
  padding: 5px;
  margin: 0;
  background-color: #4763df;
  border-radius: 20px;
  margin-top: 6%;
  box-shadow: 0 10px 30px #4763df, 0 0 0 10px #ffffffeb;
  /* transform: scale(0.6); */
}
.addmusic{
  width: 50%;
  padding: 5px;
  background-color: #4763df;
  border-radius: 20px;
  box-shadow: 0 10px 30px #4763df, 0 0 0 10px #ffffffeb;
  margin-left:25% ;
  margin-top: 25%;
}
form {
  height: 26px;
}

input[type="text"] {
  width: 100%;
  height: 16px;
  font-size: 1.1em;
}

input[type="text"]::placeholder {
  color: #eee;
}
button {
  position: relative;
  display: block;
  width: 44px;
  height: 26px;
  cursor: pointer;
}
/* Checklist */
.artist{
  display: flex;
  width: 80px;
}
.artist p{
  margin-top: 0;

}
.albumcheck{
   display: flex;
   width: 80px;
}
.albumcheck p{
  margin-top: 0;
}
.Check{
  display: none;
}
.checkdetails{
  padding-left: 10% ;
}
/* Album details */
.album{
  display: flex;
}
.album-image{
  width: 40%;
}
.album-image img{
  width: 100%;
  height: 100%;
}
.album-details{
  text-align: left;
  line-height: .9;
  padding-left: 4%;
}
.album-details p{
  font-weight: 500;
}
/* track table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 4%;
  border: 1px solid #555555;
}

td, th {
  text-align: left;
  padding: 8px;
  border-right: 1px solid #555555;
}

.center{
  text-align: center;
}
th{
  background-color: #adabab;
}
@media only screen and (min-width: 640px){
  .filter{
    display: none;
  }
  .nav{
    height: 10vh;
  }
  .Check{
    display: flex;
    padding-left: 3%;
    margin-top: 7%;
    font-size: 1.1em;
  }
  #cover{
    width: 30%;
  }
  .addmusic{
    float: right;
    margin-top: 6%;
    margin-left: 0;
    width: 30%;
  }
  /* Albums */
  .album-image{
    width: 30%;
  }
}
@media only screen and (min-width: 740px){
    .album-image{
      width: 24%;
    }
}
@media only screen and (min-width: 940px){
   .album-image{
     width: 20%;
   }
   .nav{
     padding-left: 20%;
   }
   .addmusic{
     margin-top: 3%;
     width: 25%;
   }
   #cover{
     margin-top: 3%;
   }
   .Check{
     margin-top: 4%;
   }
   .container{
    padding: 0 20% 0 20%;
  }
}
@media only screen and (min-width: 1200px){
  .album-image{
    width: 20%;
  }
  .addmusic{
    margin-top: 1%;
  }
  #cover{
    margin-top: 1%;
  }
  .Check{
    margin-top: 2%;
  }
}